nav a {
    text-transform: uppercase;
    text-decoration-line: none;
    font-weight: 400;
}

button a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-line: none;
}

.sticky-content {
    position: sticky;
    top: 0;
    z-index: 10;
}